# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
venv/
ENV/

# Git and IDE
.git
.gitignore
.vscode/
.idea/

# Tests / Coverage
tests/
htmlcov/
.coverage
.pytest_cache/

# Bytecode / packages
*.egg
*.egg-info/
dist/
build/
.eggs/

# Docker
Dockerfile
docker-compose.yml

# System / misc
*.db
*.log
*.DS_Store
